@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway&family=Rubik&display=swap');

/*SAAS Template*/
@import './include/variables.scss';
@import './include/global.scss';
@import './include/typography.scss';
@import './include/color.scss';
@import './include/top-sales.scss';