/*Typograpghy classes*/
.font-baloo{
    font-family: $font-baloo;
}

.font-rale{
    font-family: $font-Raleway;
}

.font-rubik{
    font-family: $font-Rubik;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-20{
    font-size: 20px;
}